@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:ital,wght@0,400;0,500;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;  
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/*--------- Navbar ---------*/
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.bd-transparent .fa-bars{
    color:  #fff;
}
.bd-transparent a{
    color: #fff!important;
}
.bd-transparent  a:hover{
    color: crimson!important;
}

.bd-crimson{
    background-color:  crimson!important;
}

.bd-crimson .fa-bars{
    color:  #fff!important;
}

.bd-crimson a{
    color: #fff!important;
}
.bd-crimson a:hover{
    color: gray!important;
}

/*--------- Home ---------*/
.home{
    display: flex;
    background: url("./IMG/index.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home-about{
    display: flex;
    background: url("./IMG/about.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home-contact{
    display: flex;
    background: url("./IMG/contact.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home-project{
    display: flex;
    background: url("./IMG/project.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home:before,.home-about:before,.home-contact:before,.home-project:before{
    content: "";
    background: rgba(5, 13, 24, 0.3);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.home .max-width,.home-about .max-width,.home-contact .max-width,.home-project .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1,.home-about .home-content .text-1,.home-contact .home-content .text-1,.home-project .home-content .text-1{
    font-size: 27px;

}

.home .home-content .text-2,.home-about .home-content .text-2,.home-contact .home-content .text-2,.home-project .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
    color: crimson;
}

.home .home-content .text-3,.home-about .home-content .text-3,.home-contact .home-content .text-3,.home-project .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span,.home-about .home-content .text-3 span,.home-contact .home-content .text-3 span,.home-project .home-content .text-3 span{
    color: #fff;
    font-weight: 500;
    font-size: 120px;
    
}

/*--------- Section ---------*/
section{
    padding: 100px 0;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu',sans-serif;
}
section .title::before{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: black;
    transform: translate(-50%);
}
section .title::after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: white;
    transform: translate(-50%);
}
.about, .services, .skills, .projects, .contact, .contact-s, footer{
    font-family: 'Poppins',sans-serif;
}
.about .about-content, .services .services-content, .skills .skills-content,.projects .projects-content,.contact .contact-content,.contact-s .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
/*--------- About ---------*/
.about .title::after{
    content: 'Who I am?';
}
.about .video{
    height: 400px;
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom: 40px;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding:10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: crimson;
    background: none;
}
/*--------- Skills ---------*/
.skills .title::after{
    content: 'What I know?';
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding:8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: crimson;
    background: none;
}
.skills .skills-content .right .bars{
   margin-bottom: 15px; 
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between; 
 }
 .skills .skills-content .right span{
     font-size: 18px;
     font-weight: 500;
 }
 .skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgray;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.skills .skills-content .right .python::before{
    width: 90%;
}
.skills .skills-content .right .html::before{
    width: 70%;
}
.skills .skills-content .right .css::before{
    width: 70%;
}
.skills .skills-content .right .js::before{
    width: 70%;
}
.skills .skills-content .right .SQL::before{
    width: 60%;
}
.skills .skills-content .right .MS::before{
    width: 90%;
}
/*--------- Services ---------*/
.services .title::after{
    content: 'What I provide?';
}
.services .services-content .card, .projects .projects-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .services-content .card:hover,.projects .projects-content .card:hover{
    background: crimson;
}
.services .services-content .card .box,.projects .projects-content .card .box{
    transition: all 0.3s ease;
}
.services .services-content .card:hover .box,.projects .projects-content .card:hover .box{
    transform: scale(1.05);
}
.services .services-content .card i{
    font-size: 50px;
    color: crimson;
}
.services .services-content .card:hover i{
    color: white;
}
.services .services-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px;
    color: #fff;
}

.services .services-content .card p{
    color: #fff;
}

/*--------- Portfolio ---------*/
.projects .title::after{
    content: "what have I done?";
    font-size: 16px;
}
.projects .projects-content .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
    transition: all 0.3s ease;
}
.projects .projects-content .card:hover img{
    border-color: white;

}
.projects .projects-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    color: #fff;
}
.projects .projects-content .card p{
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    color: #fff;
}
.projects .projects-content .card-body a{
    color: white;
}

.projects .projects-content .card-body a:hover{
    color: gray;
}
.projects .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}
.projects .carousel .card:hover{
    background: crimson;

}
.projects .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.projects .carousel .card:hover .box{
    transform: scale(1.05);
}
.projects .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    color: #fff;
}
.projects .carousel .card p{
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    color: #fff;
}

.projects .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
    transition: all 0.3s ease;
}
.projects .carousel .card:hover img{
    border-color: white;

}
.projects .card-body a{
    color: white;
}

.projects .card-body a:hover{
    color: gray;

}

/*--------- contact short---------*/
.contact-s{
    background-color: gray;
}
.contact-s .contact-content p{
    color: white;
    font-size: 45px;
    font-weight: 500;
    padding:10px 30px;
    margin-top: 20px;
}
.contact-s .contact-content a{
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding:10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.contact-s .contact-content a:hover{
    color: crimson;
    background: none;
}
/*--------- contact ---------*/
.contact .title::after{
    content: 'Get in touch'; 
 }

 .contact .contact-content .column{
     width: calc(50% - 30px);
 }
 .contact .contact-content .text{
     font-size: 20px;
     font-weight: 600;
     margin-bottom: 10px;
 }
 .contact .contact-content .left p{
     text-align: justify;
 }
 .contact .contact-content .left .icons{
     margin: 10px 0;
 }
 .contact .contact-content .row{
     display: flex;
     height: 65px;
     align-items: center;
 }
 .contact .contact-content .row i{
     font-size: 25px;
     color: crimson;
 }
 .contact .contact-content .row .info{
     margin-left: 30px;
 }
 .contact .contact-content .info .head{
     font-weight: 500;
 }
 .contact .contact-content .info .sub-title{
     color: #333;
 }
 .contact .right form .fields{
     display: flex;
 }
 .contact .right form .fields,
 .contact .right form .fields .field{
     height: 45px;
     width: 100%;
     margin-bottom: 15px;
 }
 .contact .right form .textarea{
     height: 80px;
     width: 100%;
 }
 .contact .right form .name{
     margin-right: 10px;
 }
 .contact .right form .email{
     margin-left: 10px;
 }
 .contact .right form .field input,
 .contact .right form .textarea textarea{
     height: 100%;
     width: 100%;
     border: 1px solid lightgray;
     border-radius: 6px;
     outline: none;
     padding: 0 15px;
     font-size: 17px;
     font-family: 'Poppins',sans-serif;
 }
 .contact .right form .textarea textarea{
     padding-top: 10px;
     resize: none;
 }
 .contact .right form .button{
     height: 47px;
     width: 170px;
 }
 .contact .right form .button button{
     height: 100%;
     width: 100%;
     border: 2px solid crimson;
     background: crimson;
     color: white;
     font-size: 20px;
     font-weight: 500;
     border-radius: 6px;
     transition: all 0.3s ease;
 }
 .contact .right form .button button:hover{
     color: crimson;
     background: none;
 }
/*--------- responsive media query start ---------*/
#footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 80px 0;
    position: relative;
  }
  
  #footer::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
  }
  
  #footer .container {
    position: relative;
  }
  
  #footer h3 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    position: relative;
    font-family: "Satisfy", serif;
    padding: 0;
    margin: 0 0 15px 0;
  }
  
  #footer p {
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
  }
  
  #footer .social-links {
    margin: 0 0 40px 0;
  }
  
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: crimson;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .social-links a:hover {
    background: crimson;
    color: #fff;
    text-decoration: none;
  }
  
  #footer .copyright {
    margin: 0 0 5px 0;
  }
  
  #footer .credits {
    font-size: 13px;
  }
 
/*--------- responsive media query start ---------*/
@media(max-width:1330px){
    .home .max-width,.home-about .max-width, .home-contact .max-width,.home-project .max-width{
        margin-left: 0px;
    }
}
@media(max-width:1104px){
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}
@media(max-width:999px){
    .max-width{
        padding: 0 50px;
    }
}
@media(max-width:947px){
    .max-width{
        padding: 0 50px;
    }
    
    .home .home-content .text-2,.home-about .home-content .text-2, .home-contact .home-content .text-2,.home-project .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3 span,.home-about .home-content .text-3 span, .home-contact .home-content .text-3 span,.home-project .home-content .text-3 span{
        font-size: 90px;
    }
    .home .home-content a,.home-about .home-content a, .home-contact .home-content a,.home-project .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 800px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .services-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .projects .projects-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 20px;
    }
}

@media(max-width:690px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2,.home-about .home-content .text-2, .home-contact .home-content .text-2,.home-project .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3 span,.home-about .home-content .text-3 span, .home-contact .home-content .text-3 span,.home-project .home-content .text-3 span{
        font-size: 70px;
    }
    .home .home-content a,.home-about .home-content a, .home-contact .home-content a,.home-project .home-content a{
        font-size: 20px;
    }
    .services .services-content .card{
        width: 100%;
    }

    .projects .projects-content .card{
        width: 100%;
    }
}
@media(max-width:500px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2,.home-about .home-content .text-2, .home-contact .home-content .text-2,.home-project .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3 span,.home-about .home-content .text-3 span, .home-contact .home-content .text-3 span,.home-project .home-content .text-3 span{
        font-size: 60px;
    }
}
